<div class="box mt-5"> 
    <div class=" my-2 w-25">
        <app-select [list]="categories" [label]="'Filter By Category:'" (changes)="filterByCategory($event)"></app-select>
    </div>
    <div class="row" *ngIf="!isLoading">
        <div class="col-md-3 col-sm-12" *ngFor="let item of products"  >
        <app-product-card [product]="item" (addToCart)="addToCart($event)"></app-product-card>
        </div>
    </div>
    <div class="text-center h-100 w-100" *ngIf="isLoading" >
        <app-spinner> </app-spinner>
    </div>
</div>